.main {
  background: url("https://images.pexels.com/photos/257897/pexels-photo-257897.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  color: #fff;
  font-family: arial;
  display: flex;
  justify-content: center;
  align-items: center;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(44, 62, 80, 0.9);
  mix-blend-mode: multiply;
}
.text {
  z-index: 2;
}
h1 {
  font-size: 5rem;
  text-align: center;
}
